.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.short-description{
    font-size: 50px;
    color: rgb(36, 36, 112);
    display: inline-block;
    background: linear-gradient(135deg, #0e74db, #2519a3, #ad3d3d); /* Darker version of the gradient */
    -webkit-background-clip: text; /* Clip the gradient to the text */
    color: transparent; /* Make the text transparent to show only the gradient */
    font-family: "Playfair", serif;
}

.diagram{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    margin-right: 20px;
    height: 160px;
    margin-left: 20px;
    transition-duration: 0.5s;
    max-width: 550px;
    overflow: hidden;
}
.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title{
    text-align: center;
    margin-top: 14px;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(1, 1, 95);
    margin-bottom: 15px;
}
.explanation{
    padding: 10px;
    align-items: center;
    color: rgb(60, 60, 158);
}
.card:hover{
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.158);
    transform: scale(1.02);
}

.title,
.explanation {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    text-overflow: ellipsis; 
}

.arrow{
    width: 60px;
}
@media (max-width: 768px) {
    .short-description {
        font-size: 40px; /* Reduce font size for smaller screens */
    }

    .title {
        font-size: 18px; /* Adjust title size */
    }

    .explanation {
        font-size: 14px; /* Adjust explanation size */
    }

    .card {
        max-width: 300px; /* Ensure the card does not overflow */
    }
}