* {
    box-sizing: border-box; /* Ensures that padding and borders don't affect width calculations */
  }
  .question .child {
    width: 100%; /* Make child take up full width */
    height: auto; /* or set a specific height */
}
  .question{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 247, 247);
    margin: 30px;
    padding: 60px;
  }

  
  .questionText {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 30px;
    justify-content: space-evenly;

  }
  
  .options {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure options div takes full width */
  }
  
  .option {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%; /* Ensure each option fills the parent container */
    padding: 15px; /* Increase padding for better spacing */
    margin: 5px 0; /* Adjust margin for spacing */
    background-color: rgb(168, 191, 235);
    border-radius: 18px;
    text-align: start; /* Center the text inside the option */
    color: black;
    transition-duration: 0.3s;
    cursor: pointer;
  }
  
  .option:hover{
    background-color: rgb(146, 178, 238);
  }
  
  .options-text {
    color: rgb(0, 0, 0);
    font-size: 17px;
  }
  
  .alphabet{
    margin-right: 20px;
    display: inline-block;
    color: black;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    line-height: 30px;

  }

  .check{
    margin-top: 30px;
    align-self: flex-end;
    align-items: center;
    font-weight: bold;
    font-family: Quicksand, sans-serif;
    border: none;
    background-color: #0f5bff;
    border-style: solid;
    color: white;
    border-width: 2px;
    width: 100px;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    transition-duration: 0.5s;
    margin-bottom: 10px;
  }

  .check:hover, .option-selected:hover{
    background-color: #0d4fdf;;
}

.timer-wrapper{
  display: flex;
  align-self: flex-end;
  width: 40px;
}
.name{
  margin: 20px;

}

hr {
  border: 0.5spx solid #1b1b1b; /* Black line */
  width: 100%; /* Full width */
  margin: 30px 0; /* Spacing above and below */
}
.option-selected {
  background-color: #0f5bff; 
}


.questionNumber{
  color: rgb(50, 50, 187);
  font-weight: bolder;
  font-size: 30px;
}
.questionHeader{
  display: flex;
  justify-content:space-between;
  align-items: center;
}


