.results{
    background-color: white;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    height: auto;
    width: 70%;
    margin: auto;
}

.advice {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 500;
    color: #333;
    line-height: 1.5;
    font-weight: bolder;
  }
  
  .advice span {
    font-weight: bold;
    font-size: 40px;
  }
  
  /* Styling for success and failure messages */
  .advice.success {
    color: #4CAF50; /* Green for success */
    font-size: 20px;
    font-weight: bolder;
  }
  
  .advice.failure {
    color: #F44336; /* Red for failure */
    font-size: 20px;
    font-weight: bolder;
  }

  .circle{
    width: 80px;
    height: 80px;
    color: rgb(204, 6, 204);
}

.recommendation{
  align-self: flex-start;
  margin-left: 50px;

}

  .topic {
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
  }

  .topic::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.5s, left 0.5s;
  }

  .topic:hover::after {
    width: 100%;
    left: 0;
  }
  

